<div
  class="blog-post"
  style="
    width: 100%;
    min-height: 556px;
    box-sizing: border-box;
    padding: 16px;
    border-bottom: 2px solid #f4f4f4;
    margin-bottom: 5em;
    padding-bottom: 5em;
  "
>
  <div class="blog-title" style="font-size: 2.1333rem">
    What are if else statements in programming? How do I use them? Why should I
    care?
  </div>
  <div
    class="blog-thumbnail"
    style="
      width: 100%;
      margin: 24px 0;
      content: url('./../../../assets//images/pexels-olia-danilevich-4974915.jpg');
      background-size: 100% 100%;
    "
  ></div>
  <div class="blog-description" style="font-size: 1.2em; line-height: 1.8666">
    Today it’s time for the third part of this Flutter course. What we will take
    a look at today are ‘if’ and ‘else’ statements. I believe these are one of
    the easier concepts to grasp in programming because they are so similar to
    our natural speaking language. I will do my best to make...
  </div>
  <div class="continue-reading-container" style="">
    <span class="continue-reading"> Continue Reading </span>
  </div>
</div>
