<div
  class="banner-container"
  style="height: 100px; width: 100%; margin: 0 auto; width: 90%"
>
  <div class="site-branding" style="padding: 60px 0; text-align: center">
    <div
      class="site-title"
      style="
        font-size: 4rem;
        text-align: center;
        font-weight: 300;
        text-transform: uppercase;
        letter-spacing: 4px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      "
    >
      Gaurav Bansal
    </div>
    <div
      class="site-description"
      style="
        font-size: 0.9333rem;
        text-align: center;
        font-weight: 300;
        line-height: 24px;
      "
    >
      Full Stack Web Developer
    </div>
  </div>
  <div class="sticky-top-bar"></div>
</div>
